.search-form {
    input,
    select {
        width: 100%;
        border: none;
        color: white;
        padding: 10px;
        font-size: 14px;
        background: gray;
        border-radius: 3px;
        margin-bottom: 10px;
    }
}
