input, select, textarea {
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
    border-top: 2px solid var(--light);
    border-bottom: none;
    border-left: none;
    border-right: none;
    vertical-align: middle;
}

input, select {
    height: 36px;
}